ul, #fileTree{
    list-style-type: none;
}

#fileTree{
    display: block;
    margin: auto;
    padding: 0;
    width: 200px;
}

.caret{
    cursor: pointer;
    user-select: none;
}

.caret::before{
    content: "\25B6";
    color: #F5F5F5;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before{
    transform: rotate(90deg);
}

.nested{
    display: none;
}

.active{
    display: block;
}

body{
    background-color: #363635;
    color: #F5F5F5;
}

div.content{
    margin-top: 200px;
}

div.content h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #F5F5F5;
}

a:hover{
    color:#CDCDCB;
}

html{
    min-height: 100%;
}

div.readMe{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}