/* CSS Reset */
*{
    padding: 0;
    margin: 0 auto;
}

/* HTML STYLES */

html{
    font-family: Raleway;
}
/* TABLET VIEW */

/* Nav/Header Styles*/
header{
    text-align: center;
    background-color:#3C3B3A;
}

header .logo img{
    width:30%;
}

header nav{
    list-style: none;
}

header nav ul li{
    padding: 10px;
}

header nav ul li a{
    text-decoration: none;
    color:#F2F2F2;
}

header nav ul li:visited,
header nav ul li:active{
    font-weight: bold;
}

/* HOME PAGE STYLES */
/* Banner styles */
.banner{
    margin:auto;
}

.banner .left-banner h1{
    font-weight: bold;
    font-size:40px;
    margin-left: 38px;
    padding: 20px 0px 20px 0px;
}

.banner .left-banner p{
    font-size: 20px;
    padding-bottom: 20px;
    margin-left: 38px;
}

.banner .left-banner .button{
    text-align: center;
    padding-top: 20px;
}

.banner .left-banner .button button{
    border-radius: 40px;
    border:none;
    background-color: #26A682;
    color:#F2F2F2;
    padding:5px 10px 5px 10px;
    font-size: 32px;
    font-weight: bold;
    width:90%;
    box-shadow: 0px 10px 20px #124A3A;
}

.banner .left-banner .icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.banner .left-banner .icons figcaption{
    text-align: center;
    vertical-align: bottom;
    color: #26A682;
}

.banner .left-banner .icons figure{
    text-align: center;
}

.banner .right-banner img{
    display:block;
    margin:auto;
    width:90%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.scroll{
    display: none;
}

.discover-ac-left{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    max-height: 200px;
}

.discover-ac-left img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.discover-ac-right h1{
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    margin-left: 38px;
    padding-top: 30px;
}

.discover-ac-right h2{
    font-size: 24px;
    color: #26A682;
    margin-left: 38px;
    font-weight: 300;
}

.discover-ac-right p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 5px 38px 38px 38px;
}

.discover-ac-right .button button{
    background-color: #26A682;
    border-radius: 40px;
    color:#F2F2F2;
    padding:10px 20px 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border:none;
    text-align: right;
}

.discover-ac-right .button{
    text-align: right;
    margin-right: 38px;
    margin-bottom: 35px;
}

.president{
    background-color: #3C3B3A;
    color: #F2F2F2;
    padding-top: 30px;
}

.president .president-left img{
    display: block;
    justify-content: center;
    width: 50%;
    border: 5px solid #F2F2F2;
    border-radius: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.president .president-left h2{
    text-align: center;
}

.president .president-left h2:nth-child(1){
    margin-top: 28px;
}

.president .president-right p{
    padding: 20px 38px 50px 38px;
    line-height: 30px;
}

.discover-entertainment-left h1{
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    margin-left: 38px;
    padding-top: 30px;
}

.discover-entertainment-left h2{
    font-size: 24px;
    color: #26A682;
    margin-left: 38px;
    font-weight: 300;
}

.discover-entertainment-left p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 5px 38px 38px 38px;
}

.discover-entertainment-left .button{
    text-align: right;
    margin-right: 38px;
    margin-bottom: 35px;
}

.discover-entertainment-left .button button{
    background-color: #26A682;
    border-radius: 40px;
    color:#F2F2F2;
    padding:10px 20px 10px 20px;
    font-size: 20px;
    border:none;
    text-align: center;
    font-weight: bold;
}

.discover-entertainment-right{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    max-height: 200px;
}

.discover-entertainment-right img{
    width:100%;
    max-height: 200px;
    object-fit: cover;
}

/* Footer Styles */

footer{
    background-color: #3C3B3A;
    text-align: center;
    vertical-align: center;
}

footer .social{
    display: inline-block;
    margin: auto;
}

footer .social p{
    font-size: 24px;
    color: #F2F2F2;
    width: 90%;
}

footer .social img{
    padding: 12px;
}

footer .to-top{
    display: inline-block;
    width:47px;
    position: absolute;
    right: 0px;
    padding-top: 25px;
}

footer .to-top a{
    text-decoration: none;
    color: #F2F2F2;
    font-size: 9px;
}

footer .to-top a img{
    width:30%;
}

/* About Page Styles */

.construction-left h1{
    font-weight: bold;
    font-size:40px;
    margin-left: 38px;
    padding: 20px 0px 20px 0px;
}

.construction-left p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 5px 38px 20px 38px;
}

.construction-right img{
    display:block;
    margin:auto;
    width:90%;
    padding-top: 16px;
    padding-bottom: 26px;
}

.about{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    max-height: 200px;
}

.about .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #26A682;
    mix-blend-mode: multiply;
}

.about img{
    width:100%;
    max-height: 200px;
    object-fit: cover;
}

.about h1{
    position: absolute;
    text-align: center;
    justify-content: center;
    color:white;
    font-size: 50px;
    font-weight: bold;
}

.questions h2{
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    margin-left: 38px;
    padding-top: 20px;
}

.questions p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 5px 38px 25px 38px;
}

.questions p:nth-child(3){
    padding-bottom: 25px;
}

.services{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    max-height: 200px;
}

.services .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #26A682;
    mix-blend-mode: multiply;
}

.services h1{
    position: absolute;
    text-align: center;
    justify-content: center;
    color:white;
    font-size: 50px;
    font-weight: bold;
}

.services img{
    width:100%;
    max-height: 200px;
    object-fit: cover;
}

.break h2{
    font-size: 32px;
    font-weight: 600;
    margin-left: 38px;
    padding-top: 20px;
}

.break h3{
    font-size: 24px;
    color: #26A682;
    margin-left: 38px;
    font-weight: 300;
}

.break p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 5px 38px 25px 38px;
}

.break-img img, .friends-img img, .fitness-img img, .climbing-img img{
    display: none;
}

.friends{
    background-color: #F2F2F2;
}

.friends h2{
    font-size: 32px;
    font-weight: 600;
    margin-left: 38px;
    padding-top: 20px;
}

.friends h3{
    font-size: 24px;
    color: #26A682;
    margin-left: 38px;
    font-weight: 300;
}

.friends p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 5px 38px 25px 38px;
}

.newsletter{
    background-color: #3C3B3A;
    padding-bottom: 23px;
}

.newsletter p{
    color:#F2F2F2;
    text-align: center;
    font-size: 18px;
    padding-top: 24px;
}

.newsletter button{
    margin: 17px auto 10px auto;
    display: block;
    background-color: #26A682;
    border:none;
    padding: 5px 22px 5px 22px;
    border-radius: 40px;
    color: #F2F2F2;
    font-size: 20px;
    font-weight: bold;
}

.fitness h2{
    font-size: 32px;
    font-weight: 600;
    margin-left: 38px;
    padding-top: 20px;
}

.fitness h3{
    font-size: 24px;
    color: #26A682;
    margin-left: 38px;
    font-weight: 300;
}

.fitness p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 5px 38px 25px 38px;
}

.fitness img{
    display: none;
}

.climbing{
    background-color: #F2F2F2;
}

.climbing h2{
    font-size: 32px;
    font-weight: 600;
    margin-left: 38px;
    padding-top: 20px;
}

.climbing h3{
    font-size: 24px;
    color: #26A682;
    margin-left: 38px;
    font-weight: 300;
}

.climbing p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 5px 38px 25px 38px;
}

.climbing img{
    display: none;
}

.sponsors h1{
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    padding: 30px 37px 5px 37px;
}

.sponsors .sponsors-img img{
    display: block;
    width: 50%;
    margin:auto;
    padding:30px;
}

.sponsors .sponsors-img img:nth-child(4){
    padding-bottom: 44px;
}

.sponsors .sponsors-img img:nth-child(1){
    width: 80%;
}

/* Contact Page Styles */

.form-left h1{
    font-size: 50px;
    font-weight: bold;
    margin-left: 38px;
    margin-right: 38px;
    padding-top: 20px;
}

.form-left p{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding: 20px 38px 25px 38px;
}

.form-left img{
    width: 80%;
    display: block;
    margin:auto;
}

.form-right form{
    background-color: #26A682;
    border-radius: 25px;
    padding:20px;
    margin:38px;
    display: block;
}

.form-right form h1{
    color: #F2F2F2;
    font-weight: bold;
    font-size: 40px;
}

.form-right form label{
    display: block;
    color:#F2F2F2;
    font-size: 20px;
    margin-top: 15px;
}

.form-right input[type=text], textarea{
    width:100%;
    display: block;
    margin:auto;
    border-radius: 75px;
    border:none;
    padding:10px;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 5px;
    font-family: Raleway;
}

.form-right ::placeholder{
    margin-right:20px;
}

.form-right #message{
    border-radius: 10px;
    height: 100px;
    resize: vertical;
}

.form-right button{
    width: 100%;
    margin-top:20px;
    border-radius: 40px;
    border:none;
    background-color: #3C3B3A;
    color:#F2F2F2;
    padding:10px;
    font-size: 32px;
    font-weight: bold;
}

.location-left h1{
    font-weight: bold;
    font-size:40px;
    margin-left: 38px;
    padding-top: 20px;
}

.location-left h2{
    font-size: 24px;
    font-weight: 300;
    margin-left: 38px;
    padding-top: 15px;
}

.location-left p{
    font-size: 16px;
    line-height: 35px;
    padding: 20px 38px 25px 38px;
}

.location-right{
    margin:0px;
}

.location-right iframe{
    width:100%;
    
}

/* TABLET VIEW */

@media(min-width:768px){
    /* Nav/Header Styles */
    header{
        padding-bottom: 30px;
    }

    header .logo{
        display: flex;
        width: 20%;
        margin-left: 0px;
        margin-right: 300px;
        margin-bottom: -38px;
    }

    header .logo img{
        width:88px;
    }

    header nav{
        display: flex;
    }

    header nav ul{
        text-align: right;
        margin-right: 40px;
        width: 30%;
        margin-top: -30px;
    }

    header nav ul li{
        display: inline-block;
        list-style: none;
        text-align: left;
    }
    /* Home Page Styles */
    .banner{
        width: 90%;
    }

    .banner .left-banner h1{
        font-size: 70px;
    }

    .banner .left-banner p{
        font-size: 20px;
    }

    .banner .left-banner .button button{
        width:40%;
        font-size: 40px;
    }

    .banner .left-banner .icons{
        grid-template-columns: repeat(4, 1fr);
    }

    .banner .left-banner .icons figure{
        padding:0px;
    }

    .banner .left-banner .icons figure:nth-child(1),
    .banner .left-banner .icons figure:nth-child(3){
        padding-right:0px;
    }

    .scroll{
        display: block;
        text-align: center;
        padding-bottom: 43px;
    }

    .scroll img{
        transform: rotate(180deg);
        width: 3%;
    }

    .president{
        display: flex;
        padding-bottom: 40px;
    }

    .president .president-left{
        width: 50%;
    }

    .president .president-right{
        width:50%;
    }

    .president .president-left img{
        width:175px;
    }

    .discover-ac-right{
        width: 90%;
    }

    .discover-ac-right .button button{
        width:230px;
        text-align: center;
        font-size: 27px;
    }

    .discover-entertainment-left{
        width: 90%;
    }
    /* About Page Styles */
    .break{
        display: flex;
        width: 80%;
        padding: 63px 0px 60px 0px;
    }

    .break img{
        display: initial;
        object-fit: cover;
        width:218px;
        height:374px;
    }

    .friends{
        display: flex;
        padding: 63px 0px 60px 0px;
        margin: auto;
    }

    .friends-img{
        display: inline-block;
        width: 20%;
        text-align: center;
        margin-right: 120px;
    }

    .friends-info{
        display: inline-block;
        width: 50%;
        margin-right: 15px;
    }

    .friends img{
        display: initial;
        object-fit: cover;
        width:218px;
        height:374px;
    }

    .fitness{
        display: flex;
        width: 80%;
        padding: 63px 0px 60px 0px;
    }

    .fitness img{
        display: initial;
        object-fit: cover;
        width:218px;
        height:374px;
    }

    .climbing{
        display: flex;
        padding: 63px 0px 60px 0px;
        margin: auto;
    }

    .climbing-img{
        display: inline-block;
        width: 20%;
        text-align: center;
        margin-right: 120px;
    }

    .climbing-info{
        display: inline-block;
        width: 50%;
        margin-right: 15px;
    }

    .climbing img{
        display: initial;
        object-fit: cover;
        width:218px;
        height:374px;
    }

    .newsletter{
        display: flex;
        padding-bottom:5px;
    }

    .newsletter p{
        font-size: 24px;
        padding-top: 18px;
    }

    .sponsors{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .sponsors .sponsors-img img:nth-child(2){
        width: 60%;
    }

    .sponsors .sponsors-img img{
        width:30%;
    }

    /* Contact Page Styles */

    .form-left{
        width: 90%;
    }

    .form-left h1{
        font-size: 72px;
    }

    .form-left p{
        font-size: 24px;
    }

    .form-right form{
        margin: 10px 80px 45px 80px
    }

    .form-right form h1{
        font-size: 72px;
        margin-left: 46px;
    }

    .form-right form label{
        font-size: 24px;
        padding-bottom: 20px;
        margin-left:46px;
    }

    .form-right form input[type=text], textarea{
        width:90%;
    }

    .form-right form button{
        position: relative;
        left: 65%;
        width: 210px;
    }

    .location .location-left{
        width: 90%;
    }   
}

@media(min-width:1000px){
    /* Nav/Header Styles */
    header{
        padding-bottom: 10px;
    }

    header .logo img{
        margin-top: 5px;
        width: 30%;
    }

    header nav{
        margin-top:20px;
    }
    /* Home Page Styles */

    .banner{
        display: flex;
        padding-top: 92px;
    }

    .banner .left-banner{
        width:40%;
        margin-left:0px;
    }

    .banner .left-banner h1{
        padding-top: 100px;
        width: 80%;
    }

    .banner .left-banner p{
        width: 80%;
    }

    .banner .left-banner .button button{
        display: block;
        width:50%
    }

    .banner .right-banner{
        width: 60%;
        margin-right:0px;
    }

    .scroll p{
        font-size: 16px;
    }

    .scroll img{
        width: 2%;
    }

    .discover-ac{
        display: flex;
    }

    .discover-ac-left{
        width:40%;
        padding-left: 100px;
    }

    .discover-ac-right{
        width: 50%;
        padding-right: 100px;
    }

    .president{
        padding:0px;
    }

    .president-left{
        display: flex;
    }

    .president .president-left img{
        margin: 38px 100px 38px 100px;
    }

    .president .president-title{
        padding-top: 70px;
        margin:0px;
    }

    .president .president-right{
        width: 90%;
    }

    .president .president-right p{
        margin-top:60px;
        margin-right: 139px;
    }

    .discover-entertainment{
        display: flex;
        width: 90%;
        padding: 80px 140px 80px 140px;
    }

    .discover-entertainment-left{
        width: 50%;
    }

    .discover-entertainment-left p{
        padding-bottom: 100px;
        padding-right:39px;
    }

    .discover-entertainment-right{
        padding-top:65px;
        width: 50%;
        order:2;
    }

    .discover-entertainment-right img{
        max-height: 338px;
    }
    /* About Page Styles */
    .construction{
        display: flex;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .construction-left{
        width: 30%;
        margin-right: 10px;
        padding-top: 75px;
    }

    .construction-right{
        width: 40%;
    }

    .questions{
        display: flex;
        padding-top: 225px;
        padding-bottom: 225px;
    }

    .questions .questions-who{
        width:25%;
    }

    .questions .questions-what{
        width:25%;
    }

    .questions .questions-where{
        width:25%;
    }

    .break .break-img img{
        width: 813px;
    }

    .friends .friends-img{
        margin-left: 0px;
    }

    .friends .friends-img img{
        width: 813px;
    }

    .friends .friends-info{
        width: 40%;
        margin-left: 150px;
    }

    .fitness .fitness-img img{
        width: 813px;
    }

    .climbing .climbing-img{
        margin-left: 0px;
    }

    .climbing .climbing-img img{
        width: 813px;
    }

    .climbing .climbing-info{
        width: 40%;
        margin-left: 150px;
    }

    .sponsors h1{
        width: 25%;
        padding-bottom: 76px;
    }

    .sponsors .sponsors-img{
        display: flex;
    }

    .sponsors .sponsors-img img:nth-child(1){
        width: 435px;
    }

    .sponsors .sponsors-img img:nth-child(2){
        width: 202px;
    }

    .sponsors .sponsors-img img:nth-child(3){
        width: 220px;
    }

    .sponsors .sponsors-img img:nth-child(4){
        width: 152px;
    }

    /* Contact Page Styles */

    .form{
        display: flex;
        padding: 162px 140px 40px 140px;
    }

    .form .form-left{
        width: 50%;
    }

    .form .form-right{
        width: 50%;
        margin-left: 100px;
    }

    .form .form-right form{
        width: 628px;
        height: 801px;
    }

    .form .form-right form input[type=text]{
        padding:20px
    }

    .form .form-right form #message{
        height:200px
    }

    .location{
        display: flex;
        padding-top: 125px;
        padding-bottom: 125px;
    }

    .location .location-left{
        width: 50%;
        margin-right:10px;
        margin-left: 140px;
    }

    .location .location-left h1{
        font-size: 72px;
    }

    .location .location-left h2{
        font-size: 40px;
    }

    .location .location-left p{
        font-size: 18px;
    }

    .location .location-right{
        width: 50%;
        margin-right:140px;
    }

}